.follow-btn {
  text-align: center;
  background-color: lightskyblue;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-red-btn{
  margin-right: 200px;
}