<html>
<head>
<title>japanese_map</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<img src="assets/japanese_map.gif" width="1920" height="1080" border="0" alt="" usemap="#japanese_map_Map">
<map name="japanese_map_Map">
<area shape="poly" alt="" coords="489,940, 468,940, 465,940, 464,936, 464,895, 465,892, 468,891, 509,891, 512,892, 513,895, 513,916, 514,929, 513,937, 510,940, 503,940, 489,940" href="#miyazaki">
<area shape="poly" alt="" coords="752,772, 753,763, 753,772, 752,772" href="#areaname">
<area shape="poly" alt="" coords="758,764, 757,775, 756,769, 758,764" href="#isikawa">
<area shape="poly" alt="" coords="736,904, 726,904, 732,902, 736,904" href="#mie">
<area shape="poly" alt="" coords="923,834, 970,834, 974,831, 974,786, 970,782, 938,782, 935,783, 935,786, 935,806, 934,825, 934,786, 935,782, 939,781, 971,781, 974,782, 975,785, 975,831, 974,834, 972,835, 947,835, 923,834" href="#areaname">
<area shape="poly" alt="" coords="597,787, 625,787, 628,788, 629,791, 629,802, 628,807, 623,808, 614,808, 598,808, 596,805, 597,802, 597,787" href="#tottori">
<area shape="poly" alt="" coords="575,808, 564,808, 559,806, 559,800, 559,789, 560,787, 562,787, 569,787, 580,787, 589,787, 592,790, 592,801, 591,806, 587,808, 575,808" href="#simane">
<area shape="poly" alt="" coords="735,786, 740,787, 743,788, 744,800, 741,801, 703,801, 700,798, 700,794, 700,789, 703,787, 704,786, 704,784, 709,787, 708,789, 708,792, 711,792, 716,794, 717,790, 717,784, 720,782, 723,785, 725,788, 725,792, 729,790, 731,791, 731,789, 731,785, 735,786" href="#hukui">
<area shape="poly" alt="" coords="655,859, 662,859, 669,859, 673,863, 673,901, 669,905, 662,905, 656,905, 655,903, 654,881, 655,859" href="#oosaka">
<area shape="poly" alt="" coords="611,899, 633,899, 636,902, 636,913, 632,916, 622,917, 589,917, 586,916, 585,913, 586,903, 589,900, 599,899, 611,899" href="#tokusima">
<area shape="poly" alt="" coords="585,894, 585,888, 585,880, 587,877, 631,877, 636,881, 636,887, 636,894, 613,895, 590,894, 587,895, 585,894" href="#kagawa">
<area shape="poly" alt="" coords="468,788, 468,808, 468,820, 467,825, 460,826, 444,826, 441,825, 440,822, 440,788, 468,788" href="#saga">
<area shape="poly" alt="" coords="904,892, 901,894, 900,896, 902,897, 903,905, 901,912, 895,911, 889,912, 883,914, 879,918, 871,923, 862,923, 861,921, 861,919, 861,891, 900,891, 902,890, 904,892" href="#kanagawa">
<area shape="poly" alt="" coords="800,726, 800,774, 797,777, 777,777, 773,776, 773,772, 773,758, 780,746, 789,736, 800,726" href="#toyama">
<area shape="poly" alt="" coords="785,923, 753,923, 750,922, 749,920, 749,887, 751,884, 756,883, 761,883, 767,884, 768,890, 774,891, 782,890, 785,893, 785,923" href="#aichi">
<area shape="poly" alt="" coords="835,857, 843,857, 852,857, 856,860, 856,883, 853,886, 818,886, 814,883, 814,870, 814,862, 815,858, 821,857, 835,857" href="#yamanasi">
<area shape="poly" alt="" coords="677,819, 677,791, 680,787, 686,787, 692,787, 696,789, 696,796, 695,803, 698,807, 699,810, 699,848, 698,851, 695,852, 683,852, 678,851, 677,846, 678,837, 677,819" href="#kyoto">
<area shape="poly" alt="" coords="559,854, 559,813, 592,813, 592,854, 559,854" href="#hirosima">
<area shape="poly" alt="" coords="598,812, 615,812, 625,813, 629,815, 629,821, 629,832, 629,851, 628,854, 625,855, 598,855, 597,853, 597,815, 598,812" href="#okayama">
<area shape="poly" alt="" coords="509,788, 514,797, 514,812, 514,824, 513,826, 477,826, 473,825, 472,821, 472,788, 490,787, 509,788" href="#hukuoka">
<area shape="poly" alt="" coords="930,782, 930,801, 930,813, 929,819, 924,821, 913,821, 894,821, 891,820, 890,817, 890,782, 893,782, 911,781, 930,782" href="#totigi">
<area shape="poly" alt="" coords="885,886, 871,886, 864,886, 861,882, 861,875, 861,861, 862,858, 865,857, 915,857, 918,859, 918,863, 918,867, 916,877, 910,885, 898,886, 885,886" href="#tokyo">
<area shape="poly" alt="" coords="886,782, 886,802, 886,813, 885,819, 879,821, 868,821, 848,821, 845,820, 844,817, 844,782, 847,782, 866,781, 886,782" href="#gunnma">
<area shape="poly" alt="" coords="374,1042, 370,1040, 369,1036, 369,994, 373,989, 391,988, 399,992, 401,1000, 400,1013, 400,1034, 397,1041, 390,1043, 382,1042, 374,1042" href="#okinawa">
<area shape="poly" alt="" coords="534,854, 530,849, 530,794, 534,788, 542,787, 550,787, 553,788, 554,791, 554,854, 534,854" href="#yamaguchi">
<area shape="poly" alt="" coords="720,926, 720,888, 721,884, 725,883, 732,884, 740,883, 744,887, 744,904, 744,922, 739,938, 735,946, 732,956, 727,964, 721,966, 720,965, 720,963, 720,926" href="#mie">
<area shape="poly" alt="" coords="703,842, 704,823, 703,812, 704,807, 710,806, 723,806, 727,809, 727,875, 723,879, 714,879, 707,879, 704,878, 703,875, 703,842" href="#siga">
<area shape="poly" alt="" coords="425,826, 425,885, 418,886, 412,884, 409,878, 409,795, 410,791, 413,788, 421,788, 431,788, 436,790, 436,823, 434,826, 429,826, 425,826" href="#nagasaki">
<area shape="poly" alt="" coords="845,825, 913,825, 917,826, 918,830, 918,847, 917,851, 913,852, 845,852, 845,825" href="#saitama">
<area shape="poly" alt="" coords="856,891, 856,919, 855,922, 852,923, 794,923, 791,922, 790,919, 790,891, 823,890, 856,891" href="#sizuoka">
<area shape="poly" alt="" coords="581,877, 581,897, 581,909, 580,915, 576,917, 568,917, 555,917, 534,917, 531,916, 530,913, 530,884, 531,879, 535,877, 558,876, 581,877" href="#ehime">
<area shape="poly" alt="" coords="677,890, 677,861, 678,858, 681,857, 694,857, 699,859, 699,866, 699,879, 701,883, 706,883, 712,883, 716,886, 716,897, 716,912, 715,920, 713,923, 707,923, 697,923, 681,923, 678,922, 677,919, 677,890" href="#nara">
<area shape="poly" alt="" coords="923,834, 923,827, 927,825, 934,825, 934,785, 938,782, 971,782, 974,782, 974,785, 974,831, 974,833, 972,835, 923,834" href="#ibaragi">
<area shape="poly" alt="" coords="513,984, 505,989, 471,989, 465,985, 464,976, 465,965, 464,957, 454,956, 442,957, 433,955, 430,946, 432,945, 435,945, 513,945, 514,964, 513,984" href="#kagosima">
<area shape="poly" alt="" coords="583,921, 631,921, 635,922, 636,926, 636,934, 635,941, 628,944, 538,944, 532,942, 530,936, 530,926, 533,921, 544,921, 583,921" href="#kouchi">
<area shape="poly" alt="" coords="858,669, 886,669, 890,670, 891,674, 891,725, 890,729, 887,730, 876,730, 872,727, 872,716, 873,707, 871,700, 864,698, 856,699, 829,699, 826,698, 825,696, 825,679, 826,671, 830,669, 840,670, 858,669" href="#yamagata">
<area shape="poly" alt="" coords="656,909, 663,909, 670,910, 673,915, 672,921, 673,926, 677,928, 712,928, 715,929, 716,932, 716,963, 715,966, 712,967, 660,967, 656,965, 655,961, 655,911, 656,909" href="#wakayama">
<area shape="poly" alt="" coords="634,820, 634,803, 634,793, 636,788, 641,787, 651,787, 669,787, 672,788, 673,791, 673,850, 672,854, 669,855, 651,855, 641,855, 635,854, 634,849, 634,838, 634,820" href="#hyougo">
<area shape="poly" alt="" coords="513,886, 464,886, 464,834, 464,831, 467,831, 510,831, 513,831, 514,833, 514,860, 513,886" href="#ooita">
<area shape="poly" alt="" coords="768,833, 768,874, 767,878, 764,879, 735,879, 732,878, 731,875, 731,810, 732,807, 735,806, 745,806, 749,805, 749,800, 749,790, 752,787, 761,787, 767,788, 769,794, 768,802, 768,833" href="#gihu">
<area shape="poly" alt="" coords="459,831, 459,940, 430,940, 430,834, 430,832, 432,831, 459,831" href="#kumamoto">
<area shape="poly" alt="" coords="974,665, 900,665, 896,664, 895,660, 895,612, 896,609, 899,608, 925,608, 940,608, 947,609, 948,611, 947,614, 947,620, 950,628, 959,639, 974,655, 974,665" href="#iwate">
<area shape="poly" alt="" coords="858,608, 887,608, 890,609, 891,612, 891,661, 890,664, 887,665, 829,665, 826,664, 825,661, 825,612, 826,609, 829,608, 858,608" href="#akita">
<area shape="poly" alt="" coords="974,918, 966,922, 928,922, 924,921, 923,917, 923,844, 924,840, 927,839, 974,839, 975,878, 974,918" href="#chiba">
<area shape="poly" alt="" coords="974,777, 872,777, 872,738, 871,736, 872,734, 895,734, 973,734, 974,737, 975,757, 974,777" href="#hukusima">
<area shape="rect" alt="" coords="805,704,867,777" href="#niigata">
<area shape="poly" alt="" coords="974,730, 900,730, 896,729, 895,725, 895,674, 896,670, 900,669, 973,669, 974,672, 975,701, 974,730" href="#miyagi">
<area shape="poly" alt="" coords="825,603, 825,567, 827,560, 834,558, 870,558, 877,561, 879,567, 879,575, 879,582, 883,586, 893,586, 901,586, 904,585, 905,582, 905,564, 905,552, 906,545, 910,543, 921,542, 939,542, 946,544, 948,551, 948,603, 886,604, 825,603" href="#aomori">
<area shape="poly" alt="" coords="773,834, 773,786, 774,782, 777,781, 835,781, 839,783, 840,786, 840,848, 839,851, 836,852, 819,852, 811,853, 809,857, 810,866, 810,882, 809,885, 806,886, 777,886, 774,885, 773,882, 773,834" href="#nagano">
<area shape="poly" alt="" coords="831,533, 826,526, 826,474, 830,468, 839,466, 850,467, 859,466, 860,404, 860,341, 863,338, 868,338, 965,338, 1063,338, 1070,340, 1072,347, 1072,491, 1069,499, 1060,501, 977,501, 893,501, 893,513, 893,525, 888,533, 831,533" href="#hokkaido">
</map>
